<h1>Stupid Coaching!</h1>

<div id="you"> 
  <p><%=params[:question] %></p>
  <p> -You </p>
</div>

<div id="coach">
  <p id= "answer"><%=@answer %></p>
  <p> -Your Coach </p>
</div>

<a><%= link_to "ask a new question", ask_path%></a>